<div class="login-form">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h2><b>sCart</b></h2>
        <div class="container">
            <input type="text" formControlName="username" placeholder="username" name="username" required>
            <div *ngIf="submitted && f.username.errors" class="error-text">
                <div *ngIf="f.username.errors.required">Username is required</div>
            </div>
            <input type="password" formControlName="password" placeholder="password" name="password" required>
            <div *ngIf="submitted && f.password.errors" class="error-text">
                <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
            <div *ngIf="invaliduserOrPass" class="error-text">
                <div *ngIf="invaliduserOrPass">Invalid Username or Password</div>
            </div>
            <div class="btn-center">
                <button class="btn-login">Login</button>
            </div>
        </div>
    </form>
</div>