<div id="sidebar-left">
    <div class="reset-filters">Filters <i class="fa fa-filter" style="font-size:16px;float: right;"> Reset Filter</i></div>
    <div class="clour-filters">
        <p>Colours</p>
        <input type="checkbox" id="colour" name="colour" value="colour">
        <label for="colour">C1</label>
        <input type="checkbox" id="colour" name="colour" value="colour">
        <label for="colour">C1</label>
        <input type="checkbox" id="colour" name="colour" value="colour">
        <label for="colour">C1</label>
        <input type="checkbox" id="colour" name="colour" value="colour">
        <label for="colour">C1</label>
        <input type="checkbox" id="colour" name="colour" value="colour">
        <label for="colour">C1</label>
        <input type="checkbox" id="colour" name="colour" value="colour">
        <label for="colour">C1</label>
        <input type="checkbox" id="colour" name="colour" value="colour">
        <label for="colour">C1</label>
        <input type="checkbox" id="colour" name="colour" value="colour">
        <label for="colour">C1</label>
        <input type="checkbox" id="colour" name="colour" value="colour">
        <label for="colour">C1</label>
        <input type="checkbox" id="colour" name="colour" value="colour">
        <label for="colour">C1</label>
        <input type="checkbox" id="colour" name="colour" value="colour">
        <label for="colour">C1</label>
        <input type="checkbox" id="colour" name="colour" value="colour">
        <label for="colour">C1</label>
        <input type="checkbox" id="colour" name="colour" value="colour">
        <label for="colour">C1</label>
        <input type="checkbox" id="colour" name="colour" value="colour">
        <label for="colour">C1</label>
        <input type="checkbox" id="colour" name="colour" value="colour">
        <label for="colour">C1</label>
        <input type="checkbox" id="colour" name="colour" value="colour">
        <label for="colour">C1</label>
        <input type="checkbox" id="colour" name="colour" value="colour">
        <label for="colour">C1</label>
        <input type="checkbox" id="colour" name="colour" value="colour">
        <label for="colour">C1</label>
    </div>
    <div class="brand-filters">
        <p>Brands</p>
        <input type="checkbox" id="brand" name="brand" value="brand">
        <label for="brand">B1</label>
        <input type="checkbox" id="brand" name="brand" value="brand">
        <label for="brand">B1</label>
        <input type="checkbox" id="brand" name="brand" value="brand">
        <label for="brand">B1</label>
        <input type="checkbox" id="brand" name="brand" value="brand">
        <label for="brand">B1</label>
        <input type="checkbox" id="brand" name="brand" value="brand">
        <label for="brand">B1</label>
        <input type="checkbox" id="brand" name="brand" value="brand">
        <label for="brand">B1</label>
        <input type="checkbox" id="brand" name="brand" value="brand">
        <label for="brand">B1</label>
        <input type="checkbox" id="brand" name="brand" value="brand">
        <label for="brand">B1</label>
        <input type="checkbox" id="brand" name="brand" value="brand">
        <label for="brand">B1</label>
        
    </div>
    <div class="price-filters">
        <p>Price</p>
        <div class="priceDiv">
            <div class="minPrice">
                <select name="princeMin" id="princeMin">
                    <option value="">Min</option>
                </select>
            </div>
            <div class="maxPrice">
                <select name="princeMax" id="princeMax">
                    <option value="">Max</option>
                </select>
            </div>
        </div>
    </div>
    <div class="disc-filters">
        <p>Discount</p>
        <div class="discDiv">
            <div class="minDisc">
                <select name="discMin" id="discMin">
                    <option value="">Min</option>
                </select>
            </div>
            <div class="maxDisc">
                <select name="discMax" id="discMax">
                    <option value="">Max</option>
                </select>
            </div>
        </div>
    </div>
</div>