<app-header></app-header>
<app-sidebar></app-sidebar>
<div id="main">
    <div class="productsContainer">
        <div class="productTile">
            <div class="ProductImg">
                <img src="https://rukminim1.flixcart.com/image/312/312/j752nww0/shoe/h/5/e/1055-8-provogue-royal-blue-original-imaexgcfmfghaf8f.jpeg?q=70" alt="" width="150" height="150">
            </div>
            <div class="ProductInfo">
                <div class="pTitle ProductInfoSub">Product A</div>
                <div class="pColour ProductInfoSub">Colour
                    <input type="checkbox" id="brand" name="brand" value="brand">
                    <input type="checkbox" id="brand" name="brand" value="brand">
                </div>
                <div class="pBrand ProductInfoSub">Brand A</div>
                <div class="padd ProductInfoSub"><i class="fa fa-plus-circle" style="font-size:24px"></i> Add</div>
                <div class="pPrice ProductInfoSub">10$</div>
            </div>
        </div>
        <div class="productTile">
            <div class="ProductImg">
                <img src="https://rukminim1.flixcart.com/image/312/312/j752nww0/shoe/h/5/e/1055-8-provogue-royal-blue-original-imaexgcfmfghaf8f.jpeg?q=70" alt="" width="150" height="150">
            </div>
            <div class="ProductInfo">
                <div class="pTitle ProductInfoSub">Product A</div>
                <div class="pColour ProductInfoSub">Colour
                    <input type="checkbox" id="brand" name="brand" value="brand">
                    <input type="checkbox" id="brand" name="brand" value="brand">
                </div>
                <div class="pBrand ProductInfoSub">Brand A</div>
                <div class="padd ProductInfoSub"><i class="fa fa-plus-circle" style="font-size:24px"></i> Add</div>
                <div class="pPrice ProductInfoSub">10$</div>
            </div>
        </div>
        <div class="productTile">
            <div class="ProductImg">
                <img src="https://rukminim1.flixcart.com/image/312/312/j752nww0/shoe/h/5/e/1055-8-provogue-royal-blue-original-imaexgcfmfghaf8f.jpeg?q=70" alt="" width="150" height="150">
            </div>
            <div class="ProductInfo">
                <div class="pTitle ProductInfoSub">Product A</div>
                <div class="pColour ProductInfoSub">Colour
                    <input type="checkbox" id="brand" name="brand" value="brand">
                    <input type="checkbox" id="brand" name="brand" value="brand">
                </div>
                <div class="pBrand ProductInfoSub">Brand A</div>
                <div class="padd ProductInfoSub"><i class="fa fa-plus-circle" style="font-size:24px"></i> Add</div>
                <div class="pPrice ProductInfoSub">10$</div>
            </div>
        </div>
        <div class="productTile">
            <div class="ProductImg">
                <img src="https://rukminim1.flixcart.com/image/312/312/j752nww0/shoe/h/5/e/1055-8-provogue-royal-blue-original-imaexgcfmfghaf8f.jpeg?q=70" alt="" width="150" height="150">
            </div>
            <div class="ProductInfo">
                <div class="pTitle ProductInfoSub">Product A</div>
                <div class="pColour ProductInfoSub">Colour
                    <input type="checkbox" id="brand" name="brand" value="brand">
                    <input type="checkbox" id="brand" name="brand" value="brand">
                </div>
                <div class="pBrand ProductInfoSub">Brand A</div>
                <div class="padd ProductInfoSub"><i class="fa fa-plus-circle" style="font-size:24px"></i> Add</div>
                <div class="pPrice ProductInfoSub">10$</div>
            </div>
        </div>
        <div class="productTile">
            <div class="ProductImg">
                <img src="https://rukminim1.flixcart.com/image/312/312/j752nww0/shoe/h/5/e/1055-8-provogue-royal-blue-original-imaexgcfmfghaf8f.jpeg?q=70" alt="" width="150" height="150">
            </div>
            <div class="ProductInfo">
                <div class="pTitle ProductInfoSub">Product A</div>
                <div class="pColour ProductInfoSub">Colour
                    <input type="checkbox" id="brand" name="brand" value="brand">
                    <input type="checkbox" id="brand" name="brand" value="brand">
                </div>
                <div class="pBrand ProductInfoSub">Brand A</div>
                <div class="padd ProductInfoSub"><i class="fa fa-plus-circle" style="font-size:24px"></i> Add</div>
                <div class="pPrice ProductInfoSub">10$</div>
            </div>
        </div>
        <div class="productTile">
            <div class="ProductImg">
                <img src="https://rukminim1.flixcart.com/image/312/312/j752nww0/shoe/h/5/e/1055-8-provogue-royal-blue-original-imaexgcfmfghaf8f.jpeg?q=70" alt="" width="150" height="150">
            </div>
            <div class="ProductInfo">
                <div class="pTitle ProductInfoSub">Product A</div>
                <div class="pColour ProductInfoSub">Colour
                    <input type="checkbox" id="brand" name="brand" value="brand">
                    <input type="checkbox" id="brand" name="brand" value="brand">
                </div>
                <div class="pBrand ProductInfoSub">Brand A</div>
                <div class="padd ProductInfoSub"><i class="fa fa-plus-circle" style="font-size:24px"></i> Add</div>
                <div class="pPrice ProductInfoSub">10$</div>
            </div>
        </div>
        <div class="productTile">
            <div class="ProductImg">
                <img src="https://rukminim1.flixcart.com/image/312/312/j752nww0/shoe/h/5/e/1055-8-provogue-royal-blue-original-imaexgcfmfghaf8f.jpeg?q=70" alt="" width="150" height="150">
            </div>
            <div class="ProductInfo">
                <div class="pTitle ProductInfoSub">Product A</div>
                <div class="pColour ProductInfoSub">Colour
                    <input type="checkbox" id="brand" name="brand" value="brand">
                    <input type="checkbox" id="brand" name="brand" value="brand">
                </div>
                <div class="pBrand ProductInfoSub">Brand A</div>
                <div class="padd ProductInfoSub"><i class="fa fa-plus-circle" style="font-size:24px"></i> Add</div>
                <div class="pPrice ProductInfoSub">10$</div>
            </div>
        </div>
        <div class="productTile">
            <div class="ProductImg">
                <img src="https://rukminim1.flixcart.com/image/312/312/j752nww0/shoe/h/5/e/1055-8-provogue-royal-blue-original-imaexgcfmfghaf8f.jpeg?q=70" alt="" width="150" height="150">
            </div>
            <div class="ProductInfo">
                <div class="pTitle ProductInfoSub">Product A</div>
                <div class="pColour ProductInfoSub">Colour
                    <input type="checkbox" id="brand" name="brand" value="brand">
                    <input type="checkbox" id="brand" name="brand" value="brand">
                </div>
                <div class="pBrand ProductInfoSub">Brand A</div>
                <div class="padd ProductInfoSub"><i class="fa fa-plus-circle" style="font-size:24px"></i> Add</div>
                <div class="pPrice ProductInfoSub">10$</div>
            </div>
        </div>
        <div class="productTile">
            <div class="ProductImg">
                <img src="https://rukminim1.flixcart.com/image/312/312/j752nww0/shoe/h/5/e/1055-8-provogue-royal-blue-original-imaexgcfmfghaf8f.jpeg?q=70" alt="" width="150" height="150">
            </div>
            <div class="ProductInfo">
                <div class="pTitle ProductInfoSub">Product A</div>
                <div class="pColour ProductInfoSub">Colour
                    <input type="checkbox" id="brand" name="brand" value="brand">
                    <input type="checkbox" id="brand" name="brand" value="brand">
                </div>
                <div class="pBrand ProductInfoSub">Brand A</div>
                <div class="padd ProductInfoSub"><i class="fa fa-plus-circle" style="font-size:24px"></i> Add</div>
                <div class="pPrice ProductInfoSub">10$</div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>